<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <title>列表增删改</title>
    <style>
        #main {
            padding: 20px;
        }
        th , td {
            text-align: center;
        }

        .pagination {
            float:  right;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <div id="main">
        <div class="panel panel-primary">
            <div class="panel-heading">
                用户管理
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户名</th>
                        <th>年龄</th>
                        <th>毕业院校</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(row,index) in rows">

                        <tr v-if="row.id != 0 && (index-1) >= (curpage-1)*pagesize && (index-1) < curpage*pagesize">
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.age}}</td>
                            <td>{{row.school}}</td>
                            <td>{{row.remark}}</td>
                            <td>
                                <a href="#" @click="Edit(row)">编辑</a>
                                <a href="#" @click="Delete(row.id)">删除</a>
                            </td>
                        </tr>
                    </template>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="rowtemplate.name">
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="rowtemplate.age">
                        </td>
                        <td>
                            <select name="" id="select" class="form-control" v-model="rowtemplate.school">
                                <option>中山小学</option>
                                <option>复兴中学</option>
                                <option>光明小学</option>
                                <option>红星小学</option>
                                <option>洪山小学</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="rowtemplate.remark">
                        </td>
                        <td>
                            <button @click="Save" class="btn btn-primary">保存</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="navigation">
            <ul class="pagination ">
                <template v-for="page in Math.ceil(rows.length/pagesize)">
                    <li @click="PrePage()" id="prepage" v-if="page==1" class="disabled"><a href="#">&laquo;</a></li>
                    <li v-if="page==1" @click="NumPage(page,$event)" class="active"><a href="#">{{page}}</a></li>
                    <li v-else @click="NumPage(page,$event)"><a href="#">{{page}}</a></li>
                    <li @clilc="NextPage()" id="nextpage" v-if="page == Math.ceil(rows.length/pagesize)"><a href="#">&raquo;</a></li>
                </template>
            </ul>
        </nav>
    </div>
    <script src="vue.js"></script>
    <script>
        var data = {
            rows: [
                {
                    id: 0,
                    name: 'null',
                    age: null,
                    school: '光明小学',
                    remark: 'null'
                },
                {
                    id: 1,
                    name: '小明',
                    age: 18,
                    school: '光明小学',
                    remark: '三好学生'
                }, {
                    id: 2,
                    name: '小刚',
                    age: 20,
                    school: '复兴中学',
                    remark: '优秀班干部'
                }, {
                    id: 3,
                    name: '吉姆格林',
                    age: 19,
                    school: '光明小学',
                    remark: '吉姆做了汽车公司经理'
                }, {
                    id: 4,
                    name: '李雷',
                    age: 25,
                    school: '复兴中学',
                    remark: '不老实的家伙'
                }, {
                    id: 5,
                    name: '韩梅梅',
                    age: 22,
                    school: '光明小学',
                    remark: '在一起'
                }, {
                    id: 6,
                    name: '长颈鹿',
                    age: 22,
                    school: '红星小学',
                    remark: '脖子长'
                }, {
                    id: 7,
                    name: '猴子',
                    age: 22,
                    school: '洪山小学',
                    remark: '小猴子'
                }, {
                    id: 8,
                    name: '傻大个',
                    age: 22,
                    school: '红星小学',
                    remark: '傻子'
                }, {
                    id: 9,
                    name: '丑八怪',
                    age: 22,
                    school: '光明小学',
                    remark: '不老实的家伙'
                }, {
                    id: 10,
                    name: '小眼睛',
                    age: 22,
                    school: '光明小学',
                    remark: '不老实的家伙'
                }
            ],
            rowtemplate: {
                id: 0,
                name: '',
                age: '',
                school: '',
                remark: ""
            },
            pagesize: 3,
            curpage: 1
        };

        var vue = new Vue({
            el: "#main",
            data: data,
            methods: {
                PrePage: function (event) {
                    $(".pagination .active").prev().trigger("click");
                },
                NextPage: function (event) {
                    $(".pagination .active").next().trigger("click");
                },
                NumPage: function (num, event) {
                    if (this.curpage == num) {
                        return;
                    }
                    this.curpage = num;
                    $(".pagination li").removeClass("active");
                    if (event.target.tagName.toUpperCase() == "LI") {
                        $(event.target).addClass('active');
                    } else {
                        $(event.target).parent().addClass('active');
                    }
                    if (this.curpage == 1) {
                        $('#prepage').addClass('disabled');
                    } else {
                        $('#prepage').removeClass('disabled');
                    }
                    if (this.curpage == Math.ceil(this.rows.length / this.pagesize)) {
                        $('#nextpage').addClass('disabled');
                    } else {
                        $('#nextpage').removeClass('disabled');
                    }
                },
                Save: function (event) {
                    if (this.rowtemplate.id == 0) {
                        this.rowtemplate.id = this.rows[this.rows.length - 1].id + 1;
                        this.rows.push(this.rowtemplate);

                    }

                    this.rowtemplate = {
                        id: 0,
                        name: '',
                        age: '',
                        school: '',
                        remark: ''
                    };
                },
                Edit: function (row) {
                    this.rowtemplate = row;
                },
                Delete: function (id) {
                    if (this.rows.length == 1) {
                        var temp = {
                            id: 0,
                            name: '',
                            age: '',
                            school: '',
                            remark: ''
                        };
                        // tihs.rowtemplate.id = 1;
                        this.rows.push(temp);
                    }
                    for (let i = 0; i < this.rows.length; i++) {
                        const element = this.rows[i];
                        if (element.id == id) {
                            this.rows.splice(i, 1);
                            break;
                        }
                    }
                }

            }
        });
    </script>
</body>

</html>